* {
  box-sizing: border-box;
}

.tickets-wrapper {
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: 100px;
  margin-top: -17%;
  padding-bottom: 30px;
}

.ticket {
  width: inherit;
  height: auto;
  background-color: #fff;
  margin-bottom: 20px;

  box-shadow: 0px -1px 14px 0px rgba(34, 60, 80, 0.2);
  border-radius: 3px;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 5px 20px;
}

.ticket-price {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  color: #2196f3;
}

.ticket-logo {
  margin-right: 3%;
}

.ticket-inner {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 20px 5px 20px;
  width: inherit;
}

.ticket-inner-item {
  display: flex;
  width: 100%;
}

.ticket-inner-item-column {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-bottom: 10px;
}

.ticket-inner-suptitle {
  font-size: 12px;
  color: #a0b0b9;
  line-height: 18px;
  text-transform: uppercase;
}

.ticket-inner-title {
  line-height: 21px;
  font-size: 14px;
  font-weight: 600;
}

.btn-show-more {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #2196f3;
  text-transform: uppercase;
  cursor: pointer;

  transition: background-color 0.1s linear;
}

.btn-show-more:hover {
  background-color: #40a3f5;
}

.not-found {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.not-found-text {
  padding: 20px;
}

.loading {
  margin-left: 50%;
  transform: translateX(-50%);
  padding-bottom: 20px;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: #aaaaaa98;
}

.error-inner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 80px;
  border-radius: 7px;
  background-color: #fff;
}

.error-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.error-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);

  width: 120px;

  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 10px;
  cursor: pointer;
}

.error-button:hover {
  background-color: #f1f1f1b9;
}

@media (max-width: 700px) {
  .tickets-wrapper {
    height: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .ticket-header {
    padding: 20px 15px 0 15px;
  }

  .ticket {
    position: relative;
    width: 80%;
    height: auto;
    background-color: #fff;
    margin-top: 15px;

    box-shadow: 0px -1px 14px 0px rgba(34, 60, 80, 0.2);
  }

  .ticket-inner {
    width: 100%;
    padding: 10px 0 10px 15px;
  }

  .ticket-inner-item {
    flex-direction: column;
  }

  .ticket::after {
    position: absolute;
    left: 15px;
    top: 55%;
    content: "";
    width: 50%;
    height: 2px;
    border-bottom: 2px dotted #aaaaaa;
  }
  .ticket-inner-item-column {
    width: 100%;
  }

  .loading {
    margin: 0;
    transform: none;
  }

  .btn-show-more {
    width: 80%;
  }

  .not-found {
    width: 80%;
  }
}
