.filters-wrapper {
  display: flex;
  justify-content: right;
  margin-top: 50px;
  margin-right: 100px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.filter {
  display: block;
  width: 168px;
  height: 50px;
  padding: 15px;

  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;

  border: 1px solid #dfe5ec;
  color: #4a4a4a;
  background-color: #fff;
  cursor: pointer;

  transition:
    color 0.2s linear,
    background-color 0.2s linear;
}

.filter:hover {
  color: #fff;
  background-color: #2196f3;
}

@media (max-width: 700px) {
  .filters-wrapper {
    margin-right: 0;
    margin-top: 42vh;
  }
  .filters {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
  }
  .filter {
    width: 80%;
    height: 60px;
  }
}
